# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
uicode/.dockerignore
uicode/.gitignore
uicode/.DS_Store
uicode/README.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
uicode/build
uicode/node_modules
